<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :recipient_id %><br />
    <%= f.number_field :recipient_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :user_deleted %><br />
    <%= f.check_box :user_deleted %>
  </div>
  <div class="field">
    <%= f.label :recipient_deleted %><br />
    <%= f.check_box :recipient_deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
