<h1>Listing messages</h1>

<table>
  <tr>
    <th>User</th>
    <th>Recipient</th>
    <th>Message</th>
    <th>User deleted</th>
    <th>Recipient deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.user_id %></td>
    <td><%= message.recipient_id %></td>
    <td><%= message.message %></td>
    <td><%= message.user_deleted %></td>
    <td><%= message.recipient_deleted %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
