<h1>Listing matchings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Match</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matchings.each do |matching| %>
  <tr>
    <td><%= matching.user_id %></td>
    <td><%= matching.match_id %></td>
    <td><%= matching.status %></td>
    <td><%= link_to 'Show', matching %></td>
    <td><%= link_to 'Edit', edit_matching_path(matching) %></td>
    <td><%= link_to 'Destroy', matching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Matching', new_matching_path %>
