<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @matching.user_id %>
</p>

<p>
  <b>Match:</b>
  <%= @matching.match_id %>
</p>

<p>
  <b>Status:</b>
  <%= @matching.status %>
</p>


<%= link_to 'Edit', edit_matching_path(@matching) %> |
<%= link_to 'Back', matchings_path %>
