<h1>Listing biographies</h1>

<table>
  <tr>
    <th>About</th>
    <th>Birthday</th>
    <th>Occupation</th>
    <th>Photo</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @biographies.each do |biography| %>
  <tr>
    <td><%= biography.about %></td>
    <td><%= biography.birthday %></td>
    <td><%= biography.occupation %></td>
    <td><%= biography.photo %></td>
    <td><%= biography.user %></td>
    <td><%= link_to 'Show', biography %></td>
    <td><%= link_to 'Edit', edit_biography_path(biography) %></td>
    <td><%= link_to 'Destroy', biography, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Biography', new_biography_path %>
