<p id="notice"><%= notice %></p>

<p>
  <b>About:</b>
  <%= @biography.about %>
</p>

<p>
  <b>Birthday:</b>
  <%= @biography.birthday %>
</p>

<p>
  <b>Occupation:</b>
  <%= @biography.occupation %>
</p>

<p>
  <b>Photo:</b>
  <%= @biography.photo %>
</p>

<p>
  <b>User:</b>
  <%= @biography.user %>
</p>


<%= link_to 'Edit', edit_biography_path(@biography) %> |
<%= link_to 'Back', biographies_path %>
